<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-subtitle>Status: {{device.status}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="device.temp; else Notemp">Temp: {{device.temp}}</mat-card-subtitle>
    <ng-template #Notemp>
      <mat-card-subtitle>Temp: Loading</mat-card-subtitle>
    </ng-template>
    <mat-card-subtitle *ngIf="device.targetTemp; else Notarget">Target Temp: {{device.targetTemp}}</mat-card-subtitle>
    <ng-template #Notarget>
      <mat-card-subtitle>Target temp is not set</mat-card-subtitle>
    </ng-template>
    <mat-card-subtitle *ngIf="timer; else Notimer">
      <countdown [config]="{ stopTime: timer, template: '$!h!:$!m!:$!s!' }" (finished)="onCompleted()"></countdown>
    </mat-card-subtitle>
    <ng-template #Notimer>
      <mat-card-subtitle>Timer is not set</mat-card-subtitle>
    </ng-template>
  </mat-card-header>
  <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/71hofVizeEL._SX425_.jpg"
       alt="Photo of a sous-vide">
  <mat-card-content>
    <p>
      {{device.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialog()">Set parameters</button>
  </mat-card-actions>
</mat-card>
